@import 'vendors/bootstrap/functions';

@import 'bootstrap-cusrom';

@import 'vendors/bootstrap/variables';
@import 'vendors/bootstrap/variables-dark';
@import 'vendors/bootstrap/maps';
@import 'vendors/bootstrap/mixins';
@import 'vendors/bootstrap/utilities';


@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';

@import 'base/fonts';

@import 'base/global';

@import 'layout/header';
@import 'layout/common';
@import 'layout/footer';

body {
    min-width: $base-min-width;
    font-size: 16px;
    font-size: clamp(1rem, 2vw, 1.125rem); // (16px, 2vw, 18px)

    @include media-breakpoint-up(lg) {}
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.row {


    @include media-breakpoint-up(lg) {
        --#{$prefix}gutter-x: 2rem; // 16x2=32 = 32/2 = 16px gutter, from left and right
    }

    @include media-breakpoint-up(xl) {
        --#{$prefix}gutter-x: 2.75rem; // 16x2.75 = 44 = 44/2 = 22px gutter, from left and right
    }

}